<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.house.persistence.BargainMapper">
	<insert id="addBargain" parameterType="Map">
		Insert Into bargain
		(buyerID_,houseID,account,time)Values(#{buyerID},#{houseID},#{account},NOW())
	</insert>
	<update id="updateBargain" parameterType="Bargain">
		update bargain
		set
		houseId=#{houseId},status=1,price=#{price},timeok=#{timeok} where
		buyerID_=#{buyerId} and
		account=#{account}

	</update>
	<select id="selectDealProjectRecord" parameterType="int"
		resultType="Bargain">
		select * from bargain where account=#{account}
		and status=1
	</select>
	<delete id="deleteBargainById" parameterType="Buyer">
		delete from bargain
		where buyerID_=#{buyerID};
	</delete>

	<!-- 获取buyer bargain -->
	<select id="getBargainByBuyerId" parameterType="Buyer"
		resultType="Bargain">
		select * from bargain where buyerID_=#{buyerID}
	</select>
	
	<update id="updateBargainHouseIds" parameterType="Bargain">
	
	
	    update bargain set houseId=#{houseId} where buyerID_=#{buyerId}
	</update>
</mapper>