<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.house.persistence.NoticeMapper">
	<select id="getAllNotices" parameterType="int" resultType="Notice">
		Select * From notice Where account=#{account}
	</select>

	<insert id="addNotice" parameterType="Notice">
		Insert Into notice
		(content,date,account) values(#{content},NOW(),#{account})
	</insert>

	<delete id="deleteNoticeById" parameterType="Notice">
		delete from notice
		where id=#{id}
	</delete>
</mapper>