<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.house.persistence.SellerGoalMapper">
	<select id="getSellerGoalInfo" resultType="SellerGoal"
		parameterType="int">
		Select * From sellergoal where sellerID
		IN
		(Select
		sellerID From selleraccount Where managerID=#{managerID})
	</select>

	<insert id="addSellerGoalAccount" parameterType="SellerAccount">
		insert into
		sellergoal(account)values(#{sellerAccount})
	</insert>

</mapper>